# 通用配置文件 无需为每个地图配置得到的默认参数
# 其他地图配置会覆盖这些参数.

mp_timelimit 21
mp_free_armor 2
mp_equipment_reset_rounds 1
phys_pushscale 1.0
mp_buytime 9999
#临时调整回合结束补充金钱
mp_afterroundmoney 6000
#手雷影响范围
sv_hegrenade_radius_multiplier 1.3

# Plugins
# 默认手雷数量
css_hegrenade_limit 3
css_molotov_limit 0


# 默认积分配置
css_store_win_credits_t	0
css_store_win_credits_ct	10
css_store_win_credits_min_client 32
css_store_win_credits_ReqRoundTime 80.0
