;stripper的语法是固定的，每个项目必须在单独的行上声明
;每个块(block)必须包含在它自己的大括号中：{}
;每个属性必须用引号括起来：""
;属性是每行两个带引号的字符串，用空格分隔
;第一个引号是键(key），第二个引号是该键(key)的值(value)
;每个令牌(token）后面必须跟一个冒号：: 例如：add:
;引号括起来的属性之外的空格（制表符、空格、换行符）将被忽略。但是，为了便于阅读，最好使用2个间隔的制表符缩进
;可以使用 /.* 或 .*/ 代替未知字符来执行通配符搜索（检查部分匹配的字符串），例如："model" "/.*prop_junk.*/"
;注意确认通配符/正则表达式的语法
;可以使用 ';' (分号) 或者两个 '//' (斜杠) 来注释
;Stripper不能修改地图编译后的实体，例如:
;Non-entity brushes 非笔刷实体
;Displacements 地形
;Static props (prop_static) 静态实体 (prop_static)
;VRAD compiled lighting VRAD编译光
;Internal entities 内部实体 (详见 https://developer.valvesoftware.com/wiki/Internal_entity:zh-cn)


// ***** filter 过滤 (删除实体)
;  - 可以由 classname 或 targetname 来指定实体
;  - 也可以通过 Hammer ID  在.vmf 上是 "id" 但在Stripper里写 "hammerid" 
;  - 无法操作静态实体
;  - 也可以使用 remove:

filter:
{
	"hammerid" "123456"
	"targetname" "Test_Relay"
}

remove:
{
	"hammerid" "123456"
	"targetname" "Test_Relay"
}


// ***** add 功能 (添加实体)
;  - 你可以添加一个新实体
;  - 对于触发器等需要一个形状范围的实体中和 .vmf不同 不能使用solid ,需要使用合适大小的模型来指定实体模型 model
;  - 你可以使用 "model" "*编号" 使用控制台指令 dumpstringtables 反复修改测试寻找到适合你的 , 你还可以使用 "models/xxxx/yyyy.mdl" 来指定使用
;  - connections 中ESC文字<0x1b> 可以替换成 ',' (逗号) 但尽量复制粘贴使用ESC (逗号在部分情况下可能会不识别或识别成其他的)
;  - 使用dumpstringtables可能无法输出全部信息 请按照将该段复制粘贴在控制台 con_logfile "dumpstringtables.log";dumpstringtables;con_logfile ""  即可在csgo目录下找到dumpstringtables.log

add:
{
	"model" "*233"
	"StartDisabled" "0"
	"spawnflags" "1"
	"origin" "0 0 0"
	"nodmgforce" "0"
	"filtername" "humanos"
	"damagetype" "0"
	"damagemodel" "0"
	"damagecap" "20"
	"damage" "100000"
	"classname" "trigger_hurt"
	"targetname" "fixes_knifer_core"
	connections
	{
		"OnHurt" "consolaCommandsay ** 玩家受到伤害 **0-1"  // connections 例子
	}
}


// ***** modify 操作 (更改实体属性)
;  - 你可以更改实体属性并添加 - connections
;  - 首先要使用 match: 来指定实体 就像 filter: 一样
;  - 如果要更改实体属性  请使用 replace:  写入替换
;  - 如果要删除实体属性或 - connections 使用 delete:
;  - 如果要增加实体属性或 - connections 使用 insert:
;  - 如果要修改 - connections 不要使用 replace: 必须要先 delete: 删除,然后再用insert: 添加替代

modify:
{
	match:
	{
		"hammerid" "3644"
	}
	replace:
	{
		"StartDisabled" "0"
	}
	delete:
	{
		"OnTrigger" "cmdCommandsay ** BAHAMUT HAS HEALED 300 HIT POINTS **,0-1"  //建议直接在vmf中复制出来
		"OnTrigger" "music_1PlaySound01"  
	}
	insert:
	{
		"OnTrigger" "cmd,Commandsay ** BAHAMUT HAS HEALED 777 HIT POINTS **0-1"
		"OnTrigger" "music_3PlaySound01"
	}
}
