modify:
{
	match:
	{
		"targetname" "Material_Stopper_trigger"
	
		
	}
	delete:
	{
		"OnStartTouch" "Map_SpeedModModifySpeed1.07-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10-1"
		"OnEndTouchAll" "Map_SpeedModModifySpeed1.00-1"
	}
	insert:
	{
		"OnStartTouch" "Map_SpeedModModifySpeed1.07-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.16.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.16.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.16.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.16.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.16-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.15.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.15.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.15.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.15.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.15-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.14.-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.13-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.12-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.11-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.8-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.6-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.4-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10.2-1"
		"OnStartTouch" "Map_SpeedModModifySpeed0.10-1"
		"OnEndTouchAll" "Map_SpeedModModifySpeed1.00-1"

                
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_fire_boss6_right"
	}
	replace:
	{
		"damage" "20"
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_fire_boss6_left"	
	}
	replace:
	{
		"damage" "20"
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_door_right_boss6"
	
		
	}
	replace:
	{
		"damage" "30"
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_door_left_boss6"	
	}
	replace:
	{
		"damage" "30"
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_ammo_right_boss6"	
	}
	replace:
	{
		"damage" "25"
	}
}
modify:
{
	match:
	{
		"targetname" "Trigger_hurt_ammo_left_boss6"
	}
	replace:
	{
		"damage" "25"
	}
}
modify:
{
	match:
	{
		"targetname" "Hurt_boss6"	
	}
	replace:
	{
		"damage" "25"
	}
}

modify:
{
	match:
	{
		"targetname" "weapon_cannon"	
	}
	replace:
	{
		"CanBePickedUp" "0"
	}
}

;Make entwatch show uses left on mathid items more accurately
modify:
{
	match:
	{
		"classname" "math_counter"
		"targetname" "Counter_Fire"
	}
	replace:
	{
		"max" "20"
	}
}

//fix hurt stuck
modify:
{
	match:
	{
		"classname" "trigger_hurt"
	}
	insert:
	{
		"vscripts" "why/hurt_fix.nut"
	}
}

remove:
{
	"model" "models/weapons/w_knife_penis_ct_dropped.mdl"
}
remove:
{
	"model" "models/weapons/v_knife_penis_ct.mdl"
	"classname" "prop_dynamic"
}
remove:
{
	"model" "models/weapons/w_knife_penis_ct.mdl"
	"classname" "prop_dynamic"
}

remove:
{
	"model" "models/fixed_sewers/muneco.mdl"
	"classname" "prop_dynamic"
}
